.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro h1 {
  font-size: clamp(4rem, 5vw, 7rem);
}

.intro h2 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.intro input {
  margin-top: 3rem;
  padding: 1.5rem 4rem 1.5rem;
  font-size: clamp(1rem, 5vw, 2rem);
  background-color: #4d5b9e;
  border: 0;
  border-radius: 10px;
  color: #fff;
}
